aiohttp==3.10.10
dill==0.3.9
distro==1.9.0
dnspython==2.7.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
frozenlist==1.5.0
openai==1.52.2
pymongo==4.6.2
PyMuPDF==1.23.25
PyMuPDFb==1.23.22
requests==2.31.0
tqdm==4.66.6
typing_extensions==4.12.2
urllib3==2.2.3
wcmatch==10.0
Werkzeug==3.0.6
yamllint==1.35.1
yarl==1.16.0
zipp==3.20.2
gunicorn
